#  World_Happiness_Analysis

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

## 1. import data

Total fertility rate (TFR) of a population is the average number of children that would be born to a woman over her lifetime if:

She was to experience the exact current age-specific fertility rates (ASFRs) through her lifetime, and
She was to survive from childbirth until the end of her reproductive life.

### 1.4 fertility data

In [3]:
df_fertility_original = pd.read_csv('data/fertility.csv')
df_fertility_original.head()

       Country  Fertility ISO-code
0  Afghanistan        4.5      AFG
1      Albania        1.6      ALB
2      Algeria        3.0      DZA
3      Andorra        1.3      AND
4       Angola        5.5      AGO

In [7]:
df_fertility_original.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201 entries, 0 to 200
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Country    201 non-null    object
 1   Fertility  201 non-null    float64
 2   ISO-code   201 non-null    object
dtypes: float64(1), object(2)
memory usage: 4.8+ KB

In [8]:
df_fertility_original.describe()

        Fertility
count  201.000000
mean     2.650846
std      1.231034
min      1.100000
25%      1.700000
50%      2.200000
75%      3.600000
max      6.100000

#### data cleaning

In [9]:
df_fertility_original.dropna()  # no missing data

            Country  Fertility ISO-code
0       Afghanistan        4.5      AFG
1           Albania        1.6      ALB
2           Algeria        3.0      DZA
3           Andorra        1.3      AND
4            Angola        5.5      AGO
..              ...        ...      ...
196         Vietnam        2.0      VNM
197  Virgin Islands        2.1      VIR
198           Yemen        3.8      YEM
199          Zambia        4.6      ZMB
200        Zimbabwe        3.6      ZWE

[201 rows x 3 columns]